<!DOCTYPE html>
<html>
<head>
<title>Rutas</title>
{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
  <div class="container">
    <h1>VUELOS</h1>

    <form method="POST">
      {% csrf_token %}
      <input name="inicio" placeholder="Origen" required>
      <input name="destino" placeholder="Destino" required>
      <button type="submit">Buscar</button>
    </form>

    {% if resultado %}
      <div class="result">Ruta: <strong>{{ resultado }}</strong></div>
    {% endif %}
  </div>
</body>
</html>
